# restic リポジトリの暗号化パスフレーズ。
# secrets/.env.restic-password にコピーし、強いランダム値を入れる:
#   openssl rand -base64 32 > secrets/.env.restic-password
#
# !!! 重要 !!!
# この値を失うと R2 上のバックアップは復号できず復元不能になる。
# このサーバー以外（パスワードマネージャ等）にも必ず控えること。
<RANDOM_PASSPHRASE>
